/** @format */
nav {
  box-shadow: 0 0 5px black;
}
#taskList li h3 {
  transition: 0.5s;
}
#FAB {
  bottom: 20px;
}
#FAB button {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  box-shadow: 0 0 5px grey;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#taskList {
  box-shadow: 0 0 5px #ccc;
}
